<!-- your html code here -->
    <div class="container pt-5 pb-5">
        <hr>
        <div class="row">
            <div class="col-3">
                <img class="rounded-circle" src="./assets/img/2.jpg" alt="">
            </div>
            <div class="col-9">
                    <div style="display: flex;">
                        <h2 style="float: left;display: flex;">The second Heading</h2>
                        <h2 class="text-secondary" style="float: left;display: flex; padding-left: 0.2em;"> Is Pretty Cool Too.</h2>
                    </div>
                </h2>
                <p style="font-size: 1.1em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis, est non sodales congue, ex metus pellentesque elit, vitae mollis ipsum ante at libero. Sed vel ex iaculis, ultrices libero non, mollis risus. Mauris sit amet ante aliquet, bibendum sapien at, pretium orci. Curabitur turpis leo, aliquet eu vehicula mattis, varius eget lectus.</p>
            </div>
        </div>
    </div>