<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-first-heading" style="background-image: url('./assets/img/bg.jpg'); background-repeat: no-repeat;
  background-size: cover; height: 500px; padding-top: 50px;">
        <div class="first-line" style="font-size: 75px; text-align: center; background-color: white; margin-right: 15px; margin-left: 15px; margin-bottom: 15px;">One Page Wonder</div>
        <div class="second-line" style="font-size: 50px; text-align: center; background-color: white; margin-right: 15px; margin-left: 15px;">Will Knock Your Socks Off</div>
    </div>
</body>
</html>